*{
    margin: 0;
    padding: 0;
}
.contact-us{

    display: flex;
    height: 470px ;
    margin-top: 32px;
    padding: 9px;
    position: relative;
   
}
.right-heading{
    font-size: 2cap;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-right: 91px;
}
.left-container{
    text-align: center;
    border: solid black 2px;
    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.right-heading img{
    height: 300px;

}
.btn1{
    padding: 4px 7px;
    border: 2px solid black;
    border-radius: 50px;
    font-family: var(--font1);
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}
.btn1:hover{
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    background-color:var(--main-bg-color);
    color: white;
   
}
.footer{
    height: 300px;
}

    
